<footer class = 'topnav'>
    <div class='footer-copyright'>
        <div class ='container'>
            All articles belong to <a href ='www.dudeiwantthat.com' target = 'blank'>DudeIWantThat</a>
        </div>
    </div>
</footer>